<div class="container">
    <form action="" [formGroup]="updateSubject" (submit)="handleForm()" class="row g-3 my-4" id="register">
        
        <div class="col-md-12">
            <div class="form-data">
                <label class="text-capitalize py-2" for="name" >Subject Name:</label>
                <input type="text" id="name" class="form-control disabled" formControlName="name">
                <div *ngIf="updateSubject.get('name')?.errors && (updateSubject.get('name')?.touched)" class="alert alert-danger">
                    <p *ngIf="updateSubject.get('name')?.getError('required')">Subject Name Required</p>
                </div>
            </div>
        </div>
  
        <div class="col-md-12">
            <div class="form-data">
                <label class="text-capitalize py-2" for="creditHours">Credit Hours:</label>
                <input type="number" id="creditHours" class="form-control" formControlName="creditHours"  >
                <div *ngIf="updateSubject.get('creditHours')?.errors && (updateSubject.get('creditHours')?.touched)" class="alert alert-danger">
                    <p *ngIf="updateSubject.get('creditHours')?.getError('required')">Credit Hours Required</p>
                    <p *ngIf="updateSubject.get('creditHours')?.getError('min')">Must be at least 1 hour</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-12">
            <div class="form-data">
                <label class="text-capitalize py-2" for="description">Description:</label>
                <textarea id="description" rows="3" class="form-control" formControlName="description"></textarea>
                <div *ngIf="updateSubject.get('description')?.errors && (updateSubject.get('description')?.touched)" class="alert alert-danger">
                    <p *ngIf="updateSubject.get('description')?.getError('required')">Description Required</p>
                </div>
            </div>
        </div>

        <button [disabled]="updateSubject.invalid" class="main-btn d-block ms-auto text-capitalize">
            <i *ngIf="isLoading" class="fas fa-spinner"></i>
            update
        </button>
    </form>
</div>
