<div class="container">
    <main class="categories text-center">
        <section class="category " [routerLink]="['/student']">
            <img src="../../../assets/images/student.jpg" alt="students" height="80%">
            <div class="category-content">
                <h2>Students</h2>
            </div>
        </section>
        <section class="category" [routerLink]="['/subject']">
            <img src="../../../assets/images/subject.jpg" alt="subjects" height="80%">
            <div class="category-content">
                <h2>subjects</h2>
            </div>
        </section>
    </main>
</div>